:root {
  --theme-primary: rgba(228, 178, 17, 0.87);
  --theme-secondary: #036085;
  --theme-dark: rgb(1, 9, 26);
  --theme-gray: #423f3f;
  --theme-white: #f5f2ee;
  --theme-white-opacity-50: rgba(255, 255, 255, 0.5);
  --theme-white-opacity-30: rgba(255, 255, 255, 0.3);
  --theme-site-width: 95%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  font-family: var(--theme-body-font);
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  position: relative;
  width: 100%;
  z-index: 7;
  background-color: var(--theme-dark);
}

.inner {
  border: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: var(--theme-site-width);
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.header .inner .logo {
  width: 25%;
  justify-content: flex-start;
}

.logo img {
  border: var(--theme-primary) solid 2px;
  width: 25%;
  height: 25%;
  border-radius: 20%;
  pointer-events: none;
}

.header .inner .header-text {
  color: var(--theme-white);
}

.header .inner .header-text .header-p1 {
  font-size: 48px;
  font-style: italic;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif, serif;
  text-shadow: rgba(228, 178, 17, 0.87) 0px 0px 10px;
}

.header .inner .header-text .header-p2 {
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: rgba(228, 178, 17, 0.87) 0px 0px 10px;
}

/* ---------------- Navigation Bar ------------------- */

.nav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  padding-right: 3rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.nav ul li {
  list-style: none;
  padding-left: 3rem;
}

.nav ul li a {
  color: var(--theme-primary);
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}

.nav ul li a:hover,
.nav ul li a:active {
  color: var(--theme-white);
}

.nav ul li.active a {
  color: var(--theme-white);
}

/* ----------------- hero section -------------------- */

.hero {
  padding: 10rem 0 15rem 0;
  background-color: var(--theme-white);
  /* border: 4px solid var(--theme-primary); */
}

.hero .hero-inner {
  max-width: calc(var(--theme-site-width) - 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-inner .text-wrap h1 {
  font-size: 42px;
  text-align: center;
  color: var(--theme-dark);
  line-height: 1.2;
  margin-bottom: 1.3rem;
  text-shadow: rgba(228, 178, 17, 0.87) 0px 0px 10px;
}

.hero .hero-inner .text-wrap .intro {
  max-width: 450px;
  margin-bottom: 2rem;
}

.hero .hero-inner .text-wrap .intro p {
  font-size: 22px;
  font-style: italic;
  text-align: center;
  color: var(--theme-gray);
  line-height: 1.6;
  padding-right: 30px;
}

.hero .hero-inner .img-wrap{
  padding-left: 22%;
  img{
    width: 980px;
    border: var(--theme-dark) solid 4px;

    }
}




/* ----------------- media queries ------------------ */

.nav .fa-solid {
  display: none;
}

@media (max-width: 600px) {
  .header .inner .header-text .header-p1 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .header .inner .header-text .header-p2 {
    display: none;
  }

  .logo img {
    display: none;
  }

  .nav ul {
    align-items: right;
    flex-direction: column;
  }

  .nav ul li a {
    font-size: 16px;
    color: rgb(146, 97, 97);
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  .header .inner .header-text .header-p1 {
    font-size: 28px;
    padding-bottom: 20px;
    padding-right: 10px;
  }
  .header .inner .header-text .header-p2 {
    display: none;
    padding-right: 10px;
  }
  .nav ul {
    align-items: right;
    flex-direction: column;
    padding-left: 10px;
  }

  .nav ul li a {
    font-size: 18px;
    font-weight: bold;
  }
}
